body {
    margin: 0;

    background-color: #3576cb;

    font-family: -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Helvetica,
        Arial,
        sans-serif,
        "Apple Color Emoji",
        /* Smiles */
        "Segoe UI Emoji",
        /* Smiles */
        "Segoe UI Symbol";
    /* Smiles */
    font-size: 16px;
}

p {
    margin: 0 0 10px;

    color: #fff;
}

h2 {
    font-size: 40px;
    color: #903737;
}

.container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}